@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #e5e5e5;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo,
.footer-logo {
  color: #152c5b;
  font-size: 26px;
  font-weight: 600;
}

.nav-logo-blue,
.footer-logo-blue {
  color: #3252df;
}

.nav-menu {
  list-style: none;
  width: 460px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.nav-menu li {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}

.nav-menu a {
  text-decoration: none;
  color: #152c5b;
}

.menu-home a {
  color: #3252df;
}

.hero {
  height: 458px;
  margin-top: 70px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-left {
  width: 422px;
  height: 458px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  color: #152c5b;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
}

.hero-description {
  margin: 20px 0 0;
  color: #b0b0b0;
  font-size: 16px;
  font-weight: 300;
  line-height: 170%; /* 27.2px */
}

.hero-btn {
  width: 150px;
  padding: 15px 30px;
  margin: 30px 0 82px;
  border: none;
  border-radius: 4px;
  background-color: #3252df;
  color: #ffffff;
  box-shadow: 0px 8px 15px 0px rgba(50, 82, 223, 0.3);
}

.hero-icons-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.hero-icon-wrapper img {
  width: 32px;
  height: 32px;
}

.hero-icon-wrapper p {
  margin: 0;
  color: #152c5b;
  font-size: 16px;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
}

.hero-icon-wrapper p span {
  color: #b0b0b0;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 170%;
}

.hero-right {
  position: relative;
  width: 559px;
  height: 450px;
}

.hero-right img {
  width: 520px;
  height: 411px;
  border-radius: 100px 15px 15px;
}

.hero-right div {
  width: 506px;
  height: 398px;
  border-radius: 15px;
  border: 3px solid #efefef;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: -1;
}

/* main */
main {
}

.most-picked-section {
  height: 516px;
  /* padding: 70px 0; */
}

.most-picked-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

.picked-row-span {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.picked-row-span,
.picked-bottom-row,
.picked-top-row {
  position: relative;
}

.picked-bottom-row {
  grid-row: 1;
}

.picked-bottom-row {
  grid-row: 2;
}

.most-picked img {
  object-fit: cover;
}

.picked-long {
  width: 361px;
  height: 460px;
}

.picked-regular {
  width: 361px;
}

.price-tag {
  width: 180px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 0 15px;
  position: absolute;
  top: -16px;
  background-color: #ff498b;
  color: #ffffff;
}

.most-picked-price {
  left: 181.5px;
}

.most-picked-description {
    position: absolute;
    top: 150px;
    left: 25px;
    color: #ffffff;
}

.most-picked-description-long {
    top: 390px;
}

.most-picked-description p {
    margin: 0;
}

.most-picked-description .location {
    font-size: 15px;
    font-weight: 300;
}
.most-picked-description .name {
    font-size: 20px;
    font-weight: 400;
}

.beauty-backyard-section {
  height: 305px;
}

.beauty-backyard-flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.beauty-backyard-flex-item {
  position: relative;
}

.beauty-backyard-choice {
  left: 83px;
}

.beauty-backyard-flex-item img {
  width: 263px;
  height: 180px;
}

.beauty-backyard-item-title,
.beauty-backyard-item-description {
  margin: 0;
}

.beauty-backyard-item-title {
  margin-top: 10px;
  color: #152c5b;
  font-weight: 500;
}

.beauty-backyard-item-description {
  color: #b0b0b0;
}

/* footer */
footer {
  width: 100%;
  height: 310px;
  padding: 50px 0;
  border-top: 1px solid #e5e5e5;
}

.footer-menu-container {
  display: flex;
  justify-content: space-between;
}

.footer-logo-wrapper {
  width: 258px;
  height: 95px;
  margin-top: -10px;
}

.footer-logo {
  font-size: 26px;
  margin-bottom: 10px;
}

.footer-description {
  margin-top: 0;
}

.footer-menu-links {
  width: 170px;
  height: 135px;
}

.footer-menu-links p,
.footer-menu-heading {
  color: #152c5b;
  font-weight: 500;
  font-size: 18px;
}

.footer-menu-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu-links ul li {
  line-height: 2;
}

.footer-menu-links ul a,
.footer-description,
.footer-connect,
.copyright {
  text-decoration: none;
  color: #b0b0b0;
  font-size: 16px;
  font-weight: 300;
}

.footer-connect {
  width: 200px;
  height: 135px;
}

.footer-contact {
  line-height: 2;
}

.copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}
